<footer>
  <div class="row">
    <div class="small-6 columns copyright">
      <p>&copy; 2014 Informatyka Stosowana UJ</p>
    </div>
    <div class="small-6 columns tag">
      <p>RASP<span> is it hot?</span></p>
      <p></p>
    </div>
  </div>
</footer>
