<header>
  <div class="row">
    <div class="small-2 columns">
      <%= link_to "RASP", root_path, id: "logo" %>
    </div>
    <div class="small-10 columns">
      <ul class="menu">
        <li><%= link_to fa_icon("home"), root_path %></li>
        <li><%= link_to "Aktualna temperatura", recent_path %></li>
        <li><%= link_to "Dane historyczne", chart_path %></li>
      </ul>
    </div>
  </div>
</header>
