<h1>Raspberry Pi</h1>

<p>Rasp mówi, że temperatura to: <span id="temperature-value"></span> stopnie C.</p>
<p>A temperatura starsza to: <span id="historic-temperature-value"></span> (z timestampem: <span id="historic-temperature-timestamp"></span> czyli <span id="historic-temperature-date"></span>)</p>
