<div class="small-12 columns">
  <h1>Aktualna temperatura</h1>
</div>

<div class="small-12 columns">
  <p>Rasp mówi, że temperatura to: <span id="temperature-value"></span> stopnia C.</p>
  <!-- <p>A temperatura starsza to: <span id="historic-temperature-value"></span> (z timestampem: <span id="historic-temperature-timestamp"></span> czyli <span id="historic-temperature-date"></span>)</p> -->
</div>

